
#iconHome{
    width: 30px;
    height: 35px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

#datos{
    font-size: 15px;
    font-weight: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#txtBienvenida{
    font-size: 15px;
    color: white;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}